*{
  font-family: 'Kanit', sans-serif;
  margin:0;
  padding:0;
}

a{
  text-decoration:none;
}
/******************* Header Design ***************/

header{
  background-color: #8bc34a;
  height:auto;
}

.top-header{
  display:flex;
  justify-content: space-between;
  gap:70%;
  padding:2%;
}

.logo{
  color:white;
}

.navigation{
  color:white;
  padding: 0 2%;
}

.navigation a{
  color:white;
  text-decoration:underline;
  padding: 2% 0;
}



/******************* banner design ****************/

.banner {
  display: flex;
  padding: 5%;
  padding-top: 0;
  padding-bottom: 0;
}

.banner-content img {
  width: 500px;
}


.banner-title {
  font-size: 4em;
  color: white;
  font-weight: bold;
}

.banner-product {
  flex: 1;
  z-index: 1;
}

.baner-description {
  font-size: 2em;
  width: 60%;
  padding-left: 2%;
  color: white;
}

.banner-shop a{
  font-size: 1.5em;
  padding: 1% 2%;
  background-color: white;
  width: fit-content;
  margin-left: 2%;
  border-radius: 5px;
  text-decoration: none;
  color: #8bc34a;
  border: 2px solid #ffffff;
}

.banner-shop a:hover {
  font-size: 1.5em;
  padding: 1% 2%;
  background-color: #8bc34a;
  width: fit-content;
  margin-left: 2%;
  border-radius: 5px;
  border: 2px solid white;
  color: white;
}

.banner-shop {
  margin-top: 4%;
}

.banner-content img {
  display:initial;
}
/******************* Card Design *****************/

.product-title {
  font-weight: bold;
  border-bottom: 2px solid green;
  width: fit-content;
}

.btn-cart a{
  text-align: center;
  /* border: 1px solid beige; */
  margin-top: 4%;
  background-color: green;
  color: white;
  border-radius: 5px;
  font-weight: 400;
  width: 100%;
  display: block;
}

.btn-cart {
  text-align: center;
  /* border: 1px solid beige; */
  margin-top: 4%;
  background-color: green;
  color: white;
  border-radius: 5px;
  font-weight: 400;

}

.product-description {
  font-weight: 300;
  padding: 5% 0;
}

a.view-details {
  font-size: 0.9em;
  color: gray;
  text-decoration: underline;
}
/****************** End of Card Design ****************/



/****************** Grid Design **********************/


.products_grid {
  display: flex;
  width: 80%;
  height: auto;
  justify-content: space-around;
  flex-direction: row;
  flex-flow: wrap;
  margin:0 auto;
  z-index: 2;
  position: relative;
  padding: 5%;
}

.product{
  padding: 1rem;
  background-color: #e0e0e0;
  border-radius: 5px;
  width: 20%;
  margin-bottom: 2%;
}

.product:hover {
  transition: 0.3s;
  transform: scale(1.05);
}
/****************** End of Grid Design **********************/

/****************** Footer Desgin ****************************/
footer{
  background-color:green;
  display:flex;
  padding: 5%;
}

.contact-title {
  font-size: 2em;
  color: white;
  margin-bottom: 5%;
}

.contact {
  width: 100%;
}

/********************** End Footer Design ****************/

/********************* Product Page *************************/

.product-details {
  display: flex;
  width: 60%;
  margin: 5% auto 5% auto;
  padding: 5%;
  background-color: #e0e0e0;
  position: relative;
  flex-flow: wrap;
}
.product-info {
  width: 50%;
  margin-bottom: 4%;
}

.product-page-title {
  font-size: 3em;
  font-weight: bold;
}
.product-page-price, .product-page-sku, .product-page-description, .product-page-size, .product-page-fabrik{
  font-size: 1.5em;
}

.product-info .btn-cart{
  width:40%;
}
/********************** Enf of Product Page ****************/

/********************** Contact Page ************************/

.social-icons {
  display: flex;
  padding-top: 0;
  flex-direction: row;
  padding-left: 2%;
  flex-flow: wrap;
}

.contact-follow {
  padding-left: 2%;
  font-size: 2em;
  color: white;
  font-weight: bold;
}

.contact-baner-description {
  padding-left: 2%;
  font-size: 2em;
  color: white;
  font-weight: bold;
}

.contact-banner-title {
  padding-left: 2%;
  font-size: 3em;
  color: white;
  font-weight: bold;
}

.contact-banner-item {
  width: 50%;
}

.contact-banner {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  padding: 2%;
}
/********************** Responsive Design ******************/
@media (min-width:350px){
.product {
    padding: 1rem;
    background-color: #e0e0e0;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 5%;
}
.banner {
  display: flex;
  padding-top: 0;
  flex-direction: row;
  flex-flow: wrap;
}
.banner-content {
  padding: 1rem;
  /* background-color: #e0e0e0; */
  border-radius: 5px;
  width: 100%;
  margin-bottom: 5%;
}
.banner-content img {
  display:none;
}

.product-info {
  width: 100%;
  margin-bottom: 4%;
}

.product-details {
  display: flex;
  width: 90%;
  margin: 5% auto 5% auto;
  padding: 5%;
  background-color: #e0e0e0;
  position: relative;
  flex-flow: wrap;
}
.contact-banner-item {
  width: 100%;
}
} 

@media (min-width: 640px) {
  .product {
      padding: 1rem;
      background-color: #e0e0e0;
      border-radius: 5px;
      width: 100%;
      margin-bottom: 5%;
  }
  .banner {
    display: flex;
    padding-top: 0;
    flex-direction: row;
    flex-flow: wrap;
  }
  .banner-content {
    padding: 1rem;
    /* background-color: #e0e0e0; */
    border-radius: 5px;
    width: 100%;
    margin-bottom: 5%;
  }
  .banner-content img {
    display:none;
  }

  .product-info {
    width: 100%;
    margin-bottom: 4%;
}
.product-details {
  display: flex;
  width: 90%;
  margin: 5% auto 5% auto;
  padding: 5%;
  background-color: #e0e0e0;
  position: relative;
  flex-flow: wrap;
}
.contact-banner-item {
  width: 100%;
}
  } 
  
@media (min-width: 768px){
  .product {
    padding: 1rem;
    background-color: #e0e0e0;
    border-radius: 5px;
    width: 40%;
    margin-bottom: 4%;
}
.banner {
  display: flex;
  padding-top: 0;
  flex-direction: row;
  flex-flow: wrap;
}
.banner-content {
  padding: 1rem;
  /* background-color: #e0e0e0; */
  border-radius: 5px;
  width: 100%;
  margin-bottom: 5%;
}
.banner-content img {
  display:none;
}

.product-info {
  width: 100%;
  margin-bottom: 4%;
}
.product-details {
  display: flex;
  width: 70%;
  margin: 5% auto 5% auto;
  padding: 5%;
  background-color: #e0e0e0;
  position: relative;
  flex-flow: wrap;
}
.contact-banner-item {
  width: 50%;
}
  }

  @media (min-width: 1024px) {
    .product {
      padding: 1rem;
      background-color: #e0e0e0;
      border-radius: 5px;
      width: 28%;
      margin-bottom: 2%;
  }
  .banner {
    display: flex;
    padding-top: 0;
    flex-direction: row;
    flex-flow: wrap;
  }
  .banner-content {
    padding: 1rem;
    /* background-color: #e0e0e0; */
    border-radius: 5px;
    width: 45%;
    margin-bottom: 5%;
  }
  .banner-content img {
    display:initial;
  }
  .product-info {
    width: 50%;
    margin-bottom: 4%;
}
.product-details {
  display: flex;
  width: 60%;
  margin: 5% auto 5% auto;
  padding: 5%;
  background-color: #e0e0e0;
  position: relative;
  flex-flow: wrap;
}
.contact-banner-item {
  width: 50%;
}
  }

  @media (min-width: 1280px) {
    .product {
      padding: 1rem;
      background-color: #e0e0e0;
      border-radius: 5px;
      width: 20%;
      margin-bottom: 4%;
  }
  .banner-content img {
    display:initial;
  }
  .banner {
    display: flex;
    padding-top: 0;
    flex-direction: row;
    flex-flow: wrap;
  }
  .banner-content {
    padding: 1rem;
    /* background-color: #e0e0e0; */
    border-radius: 5px;
    width: 45%;
    margin-bottom: 5%;
  }
  .product-info {
    width: 50%;
    margin-bottom: 4%;
}
.product-details {
  display: flex;
  width: 60%;
  margin: 5% auto 5% auto;
  padding: 5%;
  background-color: #e0e0e0;
  position: relative;
  flex-flow: wrap;
}
.contact-banner-item {
  width: 50%;
}
   }
   /* @media only screen and (min-width: 1536px) {
    .product {
      padding: 1rem;
      background-color: #e0e0e0;
      border-radius: 5px;
      width: 25%;
      margin-bottom: 4%;
  }
   } */